body {
	background:#d7f5ff;
	font-size:18px;
	margin-top:80px;
	height:3000px;
}

.header{
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	height:80px;
	background-color:#72b8ff;
	border:solid;
	border-width:0px;
	border-bottom-width:2px;
	border-bottom-color:grey;
}

