body {
	background:#d7f5ff;
	font-size:18px;
	font-family:Roboto;
	margin-top:60px;
	height:3000px;
}

ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	display:inline-block;
}

#iconpic {
	content: url('logo.png');
	width:56px;
	height:56px;
	display:inline-block;
}

.icon{
	display:inline-block;
	height:56px;
	width:56px;
	margin:3px;
	font-size:0px;
	vertical-align:middle;
	transition: background-color 0.3s ease;
}
.icon:hover{
	background-color:#96caff;
}

.header{
	display:flex;
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	height:60px;
	background-color:#72b8ff;
	border:solid;
	border-width:0px;
	border-bottom-width:2px;
	border-bottom-color:#86c2ff;
}

.choice-menu-box{
	display:inline-block;
	height:60px;
	padding-right:16px;
	padding-left:16px;
	vertical-align:top;
	border:none;
	cursor:pointer;
	transition:font-weight 0.3s ease,color 0.3s ease-out, background-color 0.3s ease;
}

.choice-menu-box:hover{
	background-color:#86c2ff;
	color:white;
	font-weight:700;
}
.choice-menu-box:active{
	transition:none;
	background-color:#96caff;
	color:white;
}

.choice-text{
	display:inline-block;
	text-align:center;
	vertical-align:top;
	line-height:60px;
	margin:0px; 
}
